{% extends ":SiteBundle:siteRoot.html.twig" %}
{% block navbar %}
{% endblock navbar %}

{% block body %}

{% if form is defined %}{% form_theme form 'AcmeGroupUserBundle:Form:formuser-override.html.twig' %}{% endif %}
<!-- Corps complet sous bandeau-TOP -->
<div id="container_site wid640">  
	<!-- page accueil-->
	<div class="container_principal_accueil wid640">
		<div class="FOSutilities">
			{% block fos_user_content %}
			{% endblock fos_user_content %}
			<div style="height:20px;width:100%;"></div>
		</div>
	</div>
</div>
{% endblock body %}