{% extends "AcmeGroupSiteBundle::sitePage.html.twig" %}
{% block siteroot_body %}
{{ render(controller('AcmeGroupSiteBundle:Site:menu')) }}

{% if form is defined %}{% form_theme form 'AcmeGroupUserBundle:Form:formuser-override.html.twig' %}{% endif %}
<!-- Corps complet sous bandeau-TOP -->
<div id="container_site">  

	<!-- page accueil-->
	<div class="container_principal_accueil">
		<div class="ecart"></div>
		<div class="FOSutilities">
			{% block fos_user_content %}
			{% endblock fos_user_content %}

			{% if app.session.get("aetools").route == "fos_user_security_login" %}
			{% endif %}
			<div style="height:20px;width:100%;"></div>
		</div>
	</div>
</div>
{% endblock %}