{% include('AcmeGroupSiteBundle:bloc:bloc5etoiles.html.twig') %}
<span class="majZone groupeNotation" data-prototype="{{ url('acme_site_majZone') }}__majZoneBloc5etoiles" style="display:none;">
	<input type="hidden" class="articleId" name="articleId" value="{{ article.id }}" />
</span>