<title>{% block title %}{{ app.session.get('version').accroche }} - {{ app.session.get('version').nom }}{% endblock title %}</title>
<meta name="description" content="{% block description %}{{ app.session.get('version').accroche }}{% endblock description %}">