<!-- un produit -->
<div id="produit_article" class="{{ article.exclureseau }}">
	<div class="titre_categorie">{{ categorie }}</div>
	{% include('AcmeGroupSiteBundle:bloc:unProduitInterne.html.twig') %}
</div>
<!--fin produit -->
