{% extends ":SiteBundle:siteRootPopupIframe.html.twig" %}
{% block body %}
<div id="container_popup">
	<div id="entete"></div>
	<br />
	<h5 style="font-size:22px;">Votre inscription est enregistrée !<br /><small>Merci de votre confiance</small></h5>
	<!-- <a href="javascript:;" onclick="$.fancybox.close();" class="btn btn-default btn-xs" title="Fermer">FERMER</a> -->
	<br />
	<p style="text-align:center;">Vous pouvez fermer cette fenêtre et vous connecter<br />sur singerfrance.com avec votre nouveau compte.</p>
	<p style="text-align:center;">Vous avez reçu un mail, avec le code PROMO pour votre patron gratuit<br />sur <a href="http://www.madeinmecouture.com/" class='URLext'>MadeInMeCouture</a>.</p>
	<br />
	<br />
	<br />
</div>
{% endblock body %}