<!-- contenu site-->   
<div id="container_site">  

	<!-- page produits-->
	<div id="container_principal_produits_autres">
		<div class="images_catogories_produits">
			<div class="categories_haut">
				<!--repassages-->
				<div class="lien_categorie_1">
					<a href="{{ url('acme_site_univers', {'categorieSlug' : 'repassage-vapeur'}) }}" title="repassage - vapeur" class="a_cat_pdt">
						<div class="image_repassage">
							<div class="txt_mecaniques">Repassage - vapeur</div>
						</div>
					</a>
				</div>
				<!--asipartions - sols-->
				<div class="lien_categorie_2">
					<a href="{{ url('acme_site_univers', {'categorieSlug' : 'aspiration-sol'}) }}" title="Aspiration - sols" class="a_cat_pdt">
						<div class="image_aspiration">
							<div class="txt_electroniques">Aspiration - sol</div>
						</div>
					</a>
				</div>
				 <!-- petit-electromenager--> 
				<div class="lien_categorie_3">
					<a href="{{ url('acme_site_univers', {'categorieSlug' : 'petit-electromenager'}) }}" title="Petit électroménager" class="a_cat_pdt">
						<div class="image_cuisine">
							<div class="txt_brodeuses">Petit électroménager</div>
						</div>
					</a>
				</div>   
			</div>
			<!-- BLOCK IMAGE POSSIBLE-->
			<div class="img_univers_accueil">
				<img src="">
			</div>
		</div>
	 </div>
</div> 
