<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<a href="{{ url('acme_site_home') }}">
		<img src="http://www.singerfrance.com/{{ asset('images/enteteMailSinger_public2.png') }}" width="520" height="74" alt="Singer" >
	</a>
	<p>Cher(e) {{ user.username }}</p>
	<p>Nous vous remercions pour votre inscription sur notre site <a href="{{ url('acme_site_home') }}">SingerFrance.com</a><br />
	<p>Voici le code PROMO pour commander votre patron gratuit sur <a href="http://www.madeinmecouture.com/">Made In Me Couture</a> :</p>
	<p>CODE PROMO : <b>SINGER15</b></p>
	<p>Lien vers le patron gratuit : <a href="http://www.madeinmecouture.com/tops-patronages/95-patron-top-sage.html"><b>TOP SAGE</b></a></p>
	<ul>
		<li>Sélectionnez l'option téléchargement PDF</li>
		<li>Cochez téléchargement pour mettre dans votre panier</li>
		<li>Rendez-vous sur votre panier</li>
		<li>Rentrez votre code PROMO : <b>SINGER15</b></li>
		<li>Votre commande devient gratuite et vous recevez directement votre patron toutes tailles</li>
	</ul>
	<br />
	<p>-------------------------------</p>
	<p>Ceci est une information automatique du serveur singerfrance.com</p>
	<p>Merci de ne pas répondre à ce mail.<br />
	Pour tout demande, veuillez contacter le Service Commercial de Singer France :</p>
	<p>Anna Rambaud - 01 41 91 65 15 - <a href="mailto:anna.rambaud@singer-distrib.com">anna.rambaud@singer-distrib.com</a></p>
</body>
</html>